<div id="<%= dom_id product %>" class="p-5 border rounded-lg shadow-md " >

  <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mb-5">
    <% product.images.each do |image| %>
      <div class="rounded-lg border overflow-hidden">
        <%= link_to image_tag(url_for(image), width: 300, height: 300, class: "rounded-lg shadow-md"), image, target: "_blank" %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col md:flex-row justify-between items-start">
    <!-- Left Side: Title, Description, Category, Seller -->
    <div class="flex-1 space-y-2">
      <p class="text-lg font-semibold"><%= product.title %></p>
      <p class="text-gray-700"><%= product.description %></p>
      <p class="text-sm text-gray-700">Category: <span class="font-bold"><%= product.category %></span></p>

      <% if current_user != product.user %>
        <p class="mt-3 text-sm text-gray-600">by: <span class="font-bold"><%= product.user.username %></span></p>
      <% end %>
    </div>


    <div class="flex flex-col items-end space-y-3">
      <p class="text-lg font-bold text-green-600">$<%= product.price %></p>

      <% if current_user != product.user %>
        <% if current_user.purchased?(product) %>
          <span class="text-green-600 font-medium">Purchased ✓</span>
        <% else %>
          <%= button_to "Buy", purchases_path(product_id: product.id), 
                method: :post, 
                data: { confirm: "Proceed to payment" }, 
                class: "px-4 py-2 bg-blue-500 hover:bg-blue-600 rounded-full text-white font-medium" %>
        <% end %>
      <% end %>
    </div>

  </div>

</div>