<div class="w-full pb-16">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="products" class="grid grid-cols-2 md:grid-cols-4 gap-5">
    <% if @products.any? %>
      <% @products.each do |product| %>

        <% next if product.deleted_at.present? && (!user_signed_in? || !current_user.purchased?(product)) %>

        <div class="flex flex-col p-4 border rounded-lg <%= 'opacity-50' if product.deleted_at.present? %>">

          <div class="m-3">
            <%= link_to product.title, product, class:"text-xl text-gray-900 " %>
          </div>

          <% if product.images.any? %>
            <%= link_to product do %>
              <%= image_tag product.images.first, class:"w-full h-48 rounded-md" %>
            <% end %>
          <% end %>

          <div class="flex justify-between items-center mt-3">

            <div class="text-gray-600 ">
              <%= link_to product.user.username, product, class:"text-lg" %>
            </div>

            <div class="text-gray-900">
              <%= link_to number_to_currency(product.price), class:"text-lg" %>
            </div>
          </div>

          <% unless product.active? %>
            <span class="text-red-500">(No longer available)</span>
          <% end %>
          
          <%# Purchase Button%>
            <% if user_signed_in?%>
              <% if current_user != product.user %> 
                <div class="flex justify-end mt-3">
                  <% if current_user.purchased?(product) %>
                    <span class="text-green-600 font-medium">Purchased</span>
                  <% else %>
                    <%= button_to "Buy", purchases_path(product_id: product.id), method: :post, data: {confirm: "Proceed to payment"}, class:"px-2 py-1 bg-blue-500 rounded-full text-white" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No products found.</p>
    <% end %>
  </div>
</div>
